@import "../abstract/colors";
// iframe  > video {
//     margin: 0!important;
//     object-fit: cover!important;
//     width: 100%!important;
//     height: 100%!important;
// }
.main-video-section{
    height: 100vh;
}
.video-section {
    display: flex;
    flex-direction: column;
    padding: 10rem;
    margin-top: 15rem;
}
.video-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    gap: 5rem;
}

.video-box {
    width: 100rem;
    border-radius: 2rem;
    aspect-ratio: 2/1;
    border: 1rem solid $primary;
}

.video-thumb {
    aspect-ratio: 1/1;
    width: 25rem;
    border-radius: 20px;
    border: 1rem solid $primary;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    object-fit: cover;
}

.video-thumb img{
    cursor: pointer;
}

.video-thumb:hover{
    scale: (1.04);
    cursor: pointer;
}
.video-wrapper {
    width: 60%;
    position: relative;
}
.related-videos-title {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    color: $white;
    margin-bottom: 1rem;
}

.mini-videos {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.mini-video-item {
    position: relative;
}

.mini-video-title {
    text-align: center;
    position: absolute;
    bottom: 5rem;
    left: 9rem;
    z-index: 10;
    font-weight: bold;
    color: $white;

}

.related-videos {

}

.comments-section {
    flex-basis: 100%;
    margin-top: 20px;
}

// detail bar
.video-title{
    font-size: 5rem;
    color: $white;
    text-align: left;
    font-weight: bold;
}
.video-details {
    margin-top: 2rem;
    border: 1rem solid $primary;
    padding: 2rem;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    border-radius: 2rem;
    gap: 5rem;
}
.share-button{
    background: transparent;
    border: none;
}
.share-button:hover, .video-details span:hover{
    color: $primary;
    cursor: pointer;
}
.share-button:focus{
    outline: none;
    border: none;
}
.video-details span,
.video-details button {
    font-size: 3rem;
    transition: 0.3s;
}

.video-details span i,
.video-details button i {
    margin-left: 1rem;
}
