$primary: #c544ec;
$gray: #eee;
$black: #2d2d2d;
$black-l: #353535;
$white: #ffffff;
$background: #18181b;
$primary-light: #e69dfc;
$primary-light-2: #ad51c9;

$shadow: 0px 9px 14px 5px #00000030 ;
$shadow-t: 0px 8px 11px rgba(0,0,0,0.3);;
