@import"./colors";
/* Mobile-first styles */

/* Styles for screens smaller than 600px */
@media (min-width: 390px) and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .video-section {
        display: flex;
        height: 100vh;
        flex-direction: column;
        padding: 0rem;
    }

    .video-container {
        margin-top: 10rem;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
    }

    .video-details span,
    .video-details button {
        font-size: 2rem;
        transition: 0.3s;
    }

    .video-wrapper {
        width: 100%;
        position: relative;
    }

    .video-title {
        font-size: 3rem;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .video-thumb {
        aspect-ratio: 1/1;
        width: 16rem;
        border-radius: 20px;
        border: 0.5rem solid $primary;
        transition: 0.3s ease-in-out;
        object-fit: cover;
    }

    .video-box {
        height: 100%;
        border-radius: 2rem;
        aspect-ratio: 2/1;
        border: 0.5rem solid $primary;
    }

    .mini-videos {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .comments-section {
        margin-top: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10rem;
    }

    .comments-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 4rem;
        width: 90vw;
    }

    .comments-section h2 {
        font-size: 4.5rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        color: #ffffff;
    }

    .comment-author-name {
        font-size: 3rem;
        color: #ffffff;
        font-weight: bold;
    }

    .comment-text {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2.5rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: #ffffff;
    }

    .comment-form {
        padding: 2rem;
        background: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 35rem;
        aspect-ratio: 2/1;
        flex-direction: column;
        border-radius: 3rem;
        gap: 3rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .video-container {
        flex-basis: 86%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        gap: 2rem;
    }
}
@media (min-width: 1024px) and (max-width: 1366px) {
    .related-videos-title {
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 1rem;
    }
}